.sign-out-btn {
  @extend .text-info;
  cursor: pointer;
  &:hover {
    color: darken($info, 15%) !important;
  }
}

.exclaim {
  color: $purple;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  margin-left: 6px;
  top: 58px;
  animation: fade-away 0.2s linear forwards;
}

@keyframes fade-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.is-online {
  font-size: 0.9rem;
  font-style: italic;
  animation: fade-away 3s linear forwards;
}

.online-indicator {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: $purple;
}

.away-indicator {
  @extend .online-indicator, .bg-warning;
}

.offline-indicator {
  @extend .online-indicator, .bg-secondary;
}

.badge-purple {
  @extend .badge-primary;
  background-color: $purple !important;
}

.bg-purple {
  background-color: $purple;
}

.user-online {
  font-style: normal;
  color: $dark;
}

.user-away {
  font-style: italic;
  color: $dark;
}

.user-offline {
  font-style: italic;
  color: $secondary;
}

.nav-link {
  @extend .nav-link, .pr-2;
}
